<!-- loader  
<div class="loader_bg">
   <div class="loader"><img src="../assets/loading.gif" alt="#" /></div>
</div>
 end loader -->
<!-- header --> 
<header>
    <!-- header inner -->
    <div class="header_bg">
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                        <div class="full">
                            <div class="center-desk">
                                <div class="logo">
                                    <img src="../assets/logo.png" alt="#" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                        <ul class="costomer">
                            <li>Amaras <a href="#"><span>Contacto</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- end header inner -->
        <!-- end header -->
        <!-- banner -->
        <section class="banner_main">
            <div class="container-fluid">
                <div class="row d_flex">
                    <div class="col-md-6">
                        <div class="text-bg">
                            <span>Gestor de turnos</span>
                            <h1>Cama Solar</h1>
                            <p>Información relevante al respecto. Consejos. Promociones</p>
                            <a class="white" type="button" (click)="check()" >Sacá tu turno aquí</a>
                            <a class="white" type="button" routerLink="/login" >Iniciá sesión</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="text-img">
                            <figure><img src="../assets/img.png" /></figure>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</header>
<!-- end banner -->


<!-- quality 
<div class="quality ">
    <div class="container">
       <div class="row d_flex">
          <div class="col-md-8">
             <div class="quality_box">
                <figure><img src="../assets/qt.jpg" alt="#" /></figure>
             </div>
          </div>
          <div class="col-md-4">
             <div class="quality_text">
                <h3>Quality & Comfort</h3>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when
                   looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                   distribution of letters, as opposed to using </p>
             </div>
          </div>
       </div>
    </div>
 </div>
 <-- end quality  
 
 <div class="customers">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="titlepage">
                <h2>Encourage Your Customers </h2>
             </div>
          </div>
       </div>
       <div class="row">
          <div id="myCarousel" class="carousel slide banner2" data-ride="carousel">
             <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
             </ol>
             <div class="carousel-inner">
                <div class="carousel-item active">
 
                   <div class="container">
                      <div class="carousel-caption">
                         <figure><img src="../assets/banner2.png" alt="#" /></figure>
                         <p>It is a long established fact that a reader will be distracted by the readable content of a
                            page when looking at its layout. The point of using <br> Lorem Ipsum is that it has a
                            more-or-less normal distribution of letters, as opposed t</p>
 
                      </div>
                   </div>
                </div>
                <div class="carousel-item">
 
                   <div class="container">
                      <div class="carousel-caption">
                         <figure><img src="../assets/banner2.png" alt="#" /></figure>
                         <p>It is a long established fact that a reader will be distracted by the readable content of a
                            page when looking at its layout. The point of using <br> Lorem Ipsum is that it has a
                            more-or-less normal distribution of letters, as opposed t</p>
 
                      </div>
                   </div>
                </div>
                <div class="carousel-item">
 
                   <div class="container">
                      <div class="carousel-caption">
                         <figure><img src="images/banner2.png" alt="#" /></figure>
                         <p>It is a long established fact that a reader will be distracted by the readable content of a
                            page when looking at its layout. The point of using <br> Lorem Ipsum is that it has a
                            more-or-less normal distribution of letters, as opposed t</p>
 
                      </div>
                   </div>
                </div>
             </div>
             <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
             </a>
             <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
             </a>
          </div>
       </div>
    </div>
 </div>
 
 
 <-- testimonial --
 <div class="testimonial">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="titlepage">
                <h2>Says Clients </h2>
                <p>use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the<br>
                   middle of text. All the Lorem Ipsum generators on the
                </p>
             </div>
          </div>
       </div>
       <section id="demos">
          <div class="row">
             <div class="col-md-12">
                <div class="owl-carousel owl-theme">
                   <div class="item">
                      <span></span>
                      <h3>when looking </h3>
                      <p>It is a long established fact that a reader will be distracted by the readable content of a page
                         when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                         distribution of letters,</p>
                   </div>
                   <div class="item">
                      <span></span>
                      <h3>when looking </h3>
                      <p>It is a long established fact that a reader will be distracted by the readable content of a page
                         when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                         distribution of letters,</p>
                   </div>
                   <div class="item">
                      <span></span>
                      <h3>when looking </h3>
                      <p>It is a long established fact that a reader will be distracted by the readable content of a page
                         when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                         distribution of letters,</p>
                   </div>
                   <div class="item">
                      <span></span>
                      <h3>when looking </h3>
                      <p>It is a long established fact that a reader will be distracted by the readable content of a page
                         when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                         distribution of letters,</p>
                   </div>
                   <div class="item">
                      <span></span>
                      <h3>when looking </h3>
                      <p>It is a long established fact that a reader will be distracted by the readable content of a page
                         when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                         distribution of letters,</p>
                   </div>
                   <div class="item">
                      <span></span>
                      <h3>when looking </h3>
                      <p>It is a long established fact that a reader will be distracted by the readable content of a page
                         when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                         distribution of letters,</p>
                   </div>
                   <div class="item">
                      <span></span>
                      <h3>when looking </h3>
                      <p>It is a long established fact that a reader will be distracted by the readable content of a page
                         when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                         distribution of letters,</p>
                   </div>
                </div>
             </div>
          </div>
       </section>
</div>
</div>
<-- end testimonial -->
<!-- Asked -->