.ng-valid:not(form).ng-touched {
    border-width: 5px solid #42A948;
}

.ng-invalid:not(form).ng-touched {
    border-width: 5px solid #a94442;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
